.card-content{
    margin: 10px 0;
    text-align: center;
    .logo-large{
        width: 45;
        height: 45;
        border-radius: 50%;
    };
    .description{
        text-align: justify;
    }
}
.empty-box{
    color: red;
    padding: 10px
}
